---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Myself about"
	pubDate={new Date('August 15 2025')}
	heroImage="/blog-placeholder-about.png"
>
	<p>
		Keep learning, keep growing.
	</p>
	<p>
		经历：06-12小学 12-15初中 15-18高中 18-22大学
	</p>
	<p>
		目前：2025.07-08 析云网络科技公司，每天游走在城市中的各个餐饮店，负责网络配置和餐厅系统的维护，我一个学软件做开发的，也算是和专业相关一点了。
		20号离职，放松几天，之后继续学习。8月20号已经离职。
	</p>
	<p>
		技能：啥都沾点，啥都不精。还得多敲，多写，多总结。
	</p>
	<p>
        今日2025.11.20，明天要组会汇报，但我现在什么也不想干，现在只会发呆了。
    </p>
</Layout>